    
    @media only screen and (min-width: 1200px) {
        .tjs-heading{
        color:#596271;
            font-size:40px
        }
        .tjs-address{
            color:#596271;
            font-size:20px
        }
        .cse-department{
            color:#596271;
            font-size:30px   
        } 
        
    }

    @media (max-width: 979px) {
    
         .tjs-heading{
        color:#596271;
            font-size:35px
        }
        .tjs-address{
            color:#596271;
            font-size:14px
        }
        .cse-department{
            color:#596271;
            font-size:25px   
        } 
    }

    @media only screen and (max-width: 767px) {
    
         .tjs-heading{
        color:#596271;
            font-size:30px
        }
        .tjs-address{
            color:#596271;
            font-size:15px
        }
        .cse-department{
            color:#596271;
            font-size:20px   
        } 
    }
    
    @media (max-width: 489px) {
         .tjs-heading{
        color:#596271;
            font-size:20px
        }
        .tjs-address{
            color:#596271;
            font-size:13px
        }
        .cse-department{
            color:#596271;
            font-size:15px   
        }         
    }

    @media (max-width: 379px) {
        .tjs-heading{
            color:#596271;
            font-size:18px
        }
        .tjs-address{
            color:#596271;
            font-size:9px
        }
        .cse-department{
            color:#596271;
            font-size:12px   
        }
    }