.logo {
  margin: 0 auto;
  margin-bottom: 4rem;
}
.logo .hexaflip-cube .hexaflip-side-left,
.logo .hexaflip-cube .hexaflip-side-right {
  background-color: #222 !important;
}
.logo .hexaflip-cube .hexaflip-side {
  font-weight: 100;
  text-shadow: none;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
}
.logo .hexaflip-cube .hexaflip-side:nth-child(1n+1) {
  background-color: #069ad5;
}
.logo .hexaflip-cube .hexaflip-side:nth-child(2n+2) {
  background-color: #fc5215;
}
.logo .hexaflip-cube .hexaflip-side:nth-child(3n+3) {
  background-color: #30b71d;
}
.logo .hexaflip-cube .hexaflip-side:nth-child(4n+4) {
  background-color: #eee;
  color: #222;
}